@charset "utf-8";

.cantarell-regular {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cantarell-bold {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cantarell-regular-italic {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.cantarell-bold-italic {
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.jetbrains-mono-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.jetbrains-mono-semi-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.jetbrains-mono-std {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0px;
  background-color: #282c34;
}
#systems-bar {
  background-color: #000000;
  color: #ffffff;
  padding: 1px;
}
.systems-bar-text {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
#bash-bar {
  background-color: #404040;
  color: #ffffff;
  padding: 1px;
  text-align: center;
}
.bash-bar-text-large {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 12px;
}
.bash-bar-text-small {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 10px;
  color: #a0a0a0;
}
.right {
  right: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
#bash-close-btn:hover {
  cursor: pointer;
}
#bash-close-btn {
  margin-top: 90%;
  margin-bottom: 0px;
  margin-right: 10.95;
}
#tab-bar {
  background-color: #16181c;
  color: #ffffff;
  padding: 0px;
}
.unselected-tab-box {
  display: inline-block;
  background-color: #1e2127;
  margin-left: 3px;
}
.selected-tab-box {
  display: inline-block;
  background-color: #282c34;
  margin-left: 3px;
}
.invisible-link {
  all: unset;
  cursor: pointer;
}
.tab-text {
  margin-bottom: 0px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  padding-right: 20px;
  padding-left: 20px;
}
#page-body {
  color: #ffffff;
  padding-left: 20px;
}
.page-line-number {
  color: #5c6370;
  text-align: right;
  vertical-align: top;
}
.page-text {
  color: #ffffff;
  margin-top: 1px;
  margin-bottom: 1px;
}
.md-dash {
  color: #e86671;
}
.md-headers {
  color: #d19a66;
}
.md-link-text {
  color: #5ca3de;
}
.md-link-body {
  color: #52aab6;
  text-decoration: underline;
}
.md-brackets {
  color: #7c828f;
}
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #31353f;
}
#mode-display-div {
  display: inline-block;
  background-color: #98c379;
}
#mode-display {
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
}
#file-display-div {
  display: inline-block;
}
#file-display {
  color: #abb2bf;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
}
#line-display-div {
  float: right;
  display: inline-block;
  background-color: #98c379;
}
#line-display {
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 20px;
}
#pos-display-div {
  float: right;
  display: inline-block;
  background-color: #3b3f4c;
}
#pos-display {
  color: #abb2bf;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
}

#utf8-display-div {
  float: right;
  display: inline-block;
}
#utf8-display {
  color: #abb2bf;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
}
.vertical-bar-div {
  display: inline-block;
  float: right;
  background-color: #ffffff;
  width: 3px;
  border-radius: 2px;
}
.vert-bar-display {
  margin-top: 22px;
  margin-bottom: 0px;
  width: 5px;
  height: 100%;
}
#language-display-div {
  float: right;
  display: inline-block;
}
#language-display {
  color: #abb2bf;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
}
#os-display-div {
  float: right;
  display: inline-block;
}
#os-display {
  color: #abb2bf;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
}
#bottom-line {
  background-color: #282c34;
  margin-top: 0px;
  margin-bottom: 0px;
}
.bottom-line-text {
  color: #282c34;
  margin-top: 0px;
  margin-bottom: 0px;
}
